[Unit]
Description=Prometheus Alertmanager
After=network.target

[Service]
Type=simple
PIDFile={{ prometheus_alertmanager_pid_path }}
User={{ prometheus_alertmanager_user }}
Group={{ prometheus_alertmanager_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_alertmanager_bin_dir }}/alertmanager {% for flag, flag_value in prometheus_alertmanager_config_flags.iteritems() %}-{{ flag }}={{ flag_value }} {% endfor %}

SyslogIdentifier=prometheus-alertmanager
Restart=always

[Install]
WantedBy=multi-user.target
